.btn {
  background-color: var(--middle);
  color: white;
  font-weight: 900;
  box-shadow: inset 0 0 20px var(--dark);
  font-size: 1.25em;
}

.btn:focus,
.btn:hover {
  background-color: var(--light);
  outline: none;
}

.double {
  grid-column: span 2;
}
